# Finalize and load the songs.db

In [ ]:
## RUN THIS CELL Every time you open this notebook!!!
%load_ext sql
%sql sqlite:///../databases/songs.db

#### Expected output from previous cell

```
'Connected: None@../../songs.db'
```

#### M3:P2:Q1: Load Data for Albums

Using Python load the Albums into the database

In [ ]:
# Write your Python here
# ---------------------
import pandas  # requires the xlrd optional library for Pandas
import openpyxl as xl
import sqlite3
import numpy


df = pandas.read_excel(open('../../../datasets/Module4Data.xlsx','rb'), sheetname='Albums', header=None)

databaseFilename = '../databases/songs.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

sqlite3.register_adapter(numpy.int64, int)
sqlite3.register_adapter(numpy.float64, float)


query_start = 'SELECT artist_id FROM artist where name  = \''
query_end = '\''

count = 0
for row in df.itertuples(index=True, name ='None'):
    art_id_query = query_start + row[1] + query_end;
    cursor.execute(art_id_query)
    art_id = cursor.fetchone()
    df.loc[[count],0] = art_id
    count = count + 1
    
#for row in df.itertuples(index=True, name ='None'):
#    cursor.execute('INSERT INTO Album VALUES(?,?,?,?)',row)
connection.commit()

#### M3:P2:Q2: Load Data for Songs

Using Python load the Songs into the database

In [ ]:
import pandas  # requires the xlrd optional library for Pandas
import openpyxl as xl
import sqlite3
import numpy


df = pandas.read_excel(open('../../../datasets/Module4Data.xlsx','rb'), sheetname='Songs', header=None)

databaseFilename = '../databases/songs.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

sqlite3.register_adapter(numpy.int64, int)
sqlite3.register_adapter(numpy.float64, float)

query_start = 'SELECT album_id FROM Album WHERE title = \''
query_end = '\''

count = 0
for row in df.itertuples(index=True, name ='None'):
    album_id_query = query_start + str(row[1]) + query_end;
    cursor.execute(album_id_query)
    album_id = cursor.fetchone()
    df.loc[[count],0] = album_id
    count = count + 1


# Convert the datetime into a string that has 
# the number of seconds for each song.
# .hours is actually the minutes
# and the .minutes is actually the seconds
# due to the format of the imported values.
# for example Killer Queen is reading as 03:01:00
# When it is 3 minutes and 1 second in length
df[2] = [x.hour*60+x.minute for x in df[2]]

for row in df.itertuples(index=True, name ='None'):
    cursor.execute('INSERT INTO Song VALUES(?,?,?,?)',row)
connection.commit()

# Get some analytical answers

Now that you have loaded the database, get some answers from the data.  These questions are in the context of the database you have loaded.


#### M3:P2:Q3: How many bands are in the database?

In [ ]:
%%sql

#### M3:P2:Q4: How many songs are played by each band?

In [ ]:
%%sql

#### M3:P2:Q5: What is the average song length?

In [ ]:
%%sql

#### M3:P2:Q6: What is the average song length for The Beatles, per album?

In [ ]:
%%sql

# PLEASE SAVE YOUR NOTEBOOK