<div style="color:red;font-weight:bold;background:yellow;text-align:center;padding:10px;border:solid">
    <h1>RUN IN EMR CLUSTER ONLY</h1>
    If the URL of the current page does not begin with "ec2", then do **NOT** proceed!
</div>

# SparkSQL
In this lab, we will look at using Spark with SQL to ingest and analyze datasets.

### Connecting to PySpark

In [1]:
name = !hostname
if "dsa" in name[0]:
    raise RuntimeError("Only run this notebook in the EMR Cluster!")
import findspark
findspark.init()
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName("pyspark-lab")
sc = SparkContext(conf=conf)

### Loading the Dataset

We will use Amazon Review data. 

**<span style="background:yellow">Please note, this will take a few minutes to stage into memory on the cluster.</span>**

In [3]:
from pyspark.sql import SQLContext

# To use Spark SQL we create a SQLContext from SparkContext
sqlContext = SQLContext(sc)

# Location of the dataset on HDFS
DATASET = '/datasets/amazon_reviews.json'

# Load a table with a JSON format reader and get the first 1000 rows
df = sqlContext.read.json(DATASET).limit(1000)

#### Let's look at the data

In [4]:
df.head()

Row(helpfulness_count=7, helpfulness_score=7, price=-1.0, product_id='B000179R3I', profile_name='Jeanmarie Kabala "JP Kabala"', score=4.0, summary='Periwinkle Dartmouth Blazer', text='I own the Austin Reed dartmouth blazer in every color in which they make it-- it is a staple of my business wardrobe. Well made, quality fabric, nicely tailored, classic lines, appropriate for a professional woman. (something that can be hard to find at times) It should be noted, however, that the periwinkle and raspberry colors are lovely, but the fabric and buttons are slightly different than the "classic" colors(lighter) and the linings and interfacings are not as substantial as the brown, navy, camel, red and ivory. It\'s still a good value, particularly as these are colors appropriate to warmer seasons and climates, but I was a bit surprised.', time=1182816000, title='Amazon.com', user_id='A3Q0VJTUO4EZ56')

## SparkSQL DataFrame vs. Pandas DataFrame
The DataFrame returned by SparkSQL is _NOT_ the same as a Pandas DataFrame. You can find the documentation what operations can be performed on a SparkSQL Dataframe [here](http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#pyspark.sql.DataFrame).

To convert a SparkSQL DataFrame to a Pandas dataframe, you can do this:
```python
pandas_dataframe = spark_dataframe.toPandas()
```

## NoSQL

The SparkSQL DataFrame can be accessed similarly to a NoSQL database.
Note, these are similar to the capabilities of the Pandas dataframe.

**Viewing A Column**

In [5]:
df.select("score").show()

+-----+
|score|
+-----+
|  4.0|
|  5.0|
|  3.0|
|  4.0|
|  5.0|
|  5.0|
|  5.0|
|  5.0|
|  5.0|
|  5.0|
|  5.0|
|  5.0|
|  4.0|
|  5.0|
|  5.0|
|  5.0|
|  5.0|
|  5.0|
|  5.0|
|  5.0|
+-----+
only showing top 20 rows

**Filtering Data**
Note the chain of operations above.
If we decompose the chain into steps, we see that operations like filter and select give us new SparkSQL DataFrames.

In [6]:
df2 = df.filter(df["score"] < 3)

In [7]:
print(type(df2))

<class 'pyspark.sql.dataframe.DataFrame'>

In [8]:
df2.show()

+-----------------+-----------------+-----+----------+--------------------+-----+--------------------+--------------------+----------+--------------------+--------------+
|helpfulness_count|helpfulness_score|price|product_id|        profile_name|score|             summary|                text|      time|               title|       user_id|
+-----------------+-----------------+-----+----------+--------------------+-----+--------------------+--------------------+----------+--------------------+--------------+
|               11|                7|10.95|0595344550|         Book Reader|  1.0|            not good|I bought this boo...|1117065600|Whispers of the W...|A3Q12RK71N74LB|
|                2|                1|10.95|0595344550|LoveToRead "Actua...|  1.0|        Buyer beware|This is a self-pu...|1119225600|Whispers of the W...| AUR0VA5H0C66C|
|                0|                0|10.95|0595344550|        C. Robertson|  1.0|          The Worst!|A complete waste ...|1119916800|Whispers of the W...| A1P2KGE2Z8RTA|
|                5|                5|10.95|0595344550|                  PW|  1.0|           Oh please|I guess you have ...|1115856000|Whispers of the W...|A3OS2QHEH495TD|
|                4|                4|10.95|0595344550|              N. Ray|  1.0|Awful beyond belief!|I feel I have to ...|1119571200|Whispers of the W...|A3S5YQQWBO0LGI|
|                7|                6|10.95|0595344550|    denpq "A READER"|  1.0|You've got to han...|I purchased this ...|1119830400|Whispers of the W...| A9L6GHJC42RRC|
|                7|                6|10.95|0595344550|  Fran "Avid reader"|  1.0|You've got to be ...|It has been years...|1118275200|Whispers of the W...|A3T591DTKPYCVW|
|                2|                2|10.95|0595344550|          Bronx Girl|  1.0|Don't try to fool...|It's glaringly ob...|1125273600|Whispers of the W...|A1XNI3654I4ME2|
|                9|                6|10.95|0595344550|travelling librarian|  1.0| awful beyond belief|I can't remember ...|1119312000|Whispers of the W...|A3OZDTEEAF8GS9|
|                1|                1|46.34|B000278ADA|              dgodoy|  2.0|sizes recomended ...|sizes are much sm...|1287014400|Jobst Ultrasheer ...| AUIZ1GNBTG5OB|
|                3|                2|46.34|B000278ADA|Stephen Molsee "A...|  1.0|     mens ultrasheer|This model may be...|1206748800|Jobst Ultrasheer ...|A15J55UWZ8JLJM|
|                3|                3|12.95|B001GE2CDM|C. M. Carroll "JA...|  1.0|Another Abysmal D...|Rather than scrat...|1318118400|An Occurence At O...|A3MJIXDIQT5S16|
|                1|                1| -1.0|B0000630MQ|       Yisheng Zhang|  2.0|Problem with char...|I have had the ch...|1127088000|Kodak Max K2000 B...|A3P56Q3XEGTBNY|
|                0|                0| -1.0|B0000630MQ|         Dave "Dave"|  2.0|Works, but not as...|I bought one of t...|1222300800|Kodak Max K2000 B...| AI6FTXD65U3ZH|
|                0|                0| -1.0|B0000630MQ|             unknown|  1.0|        Disappointed|I read the review...|1059004800|Kodak Max K2000 B...|       unknown|
|                3|                1| -1.0|B0000630MQ|Bronco Nagursky "...|  1.0|Batteries died wi...|I bought this cha...|1103328000|Kodak Max K2000 B...| A4V0KWQSGOTSA|
|                0|                0| -1.0|0854968350|    Alyssa A. Lappen|  2.0|             Oh dear|I was excited to ...|1109808000|Muslim Women's Ch...| ATDE9JYCPI0L1|
|               10|                8|17.95|0918973031|     David I. Salter|  2.0|Thoroughly Confusing|I purchased this ...|1207353600|Dramatica for Scr...|A2JCSLVBZ1BZ46|
|                6|                6| -1.0|B0000630MI|             unknown|  2.0|It started out fi...|I've had this for...|1057190400|JVC HR-XVC1U DVD-...|       unknown|
|                2|                2| -1.0|B0000630MI|       RatPacker2000|  2.0|DVD Player crappe...|I also began havi...|1125878400|JVC HR-XVC1U DVD-...|A27YO2HVUD6G6C|
+-----------------+-----------------+-----+----------+--------------------+-----+--------------------+--------------------+----------+--------------------+--------------+
only showing top 20 rows


**Grouping Data**

In [9]:
df.groupBy("score").count().show()

+-----+-----+
|score|count|
+-----+-----+
|  4.0|  183|
|  5.0|  636|
|  3.0|   65|
|  1.0|   71|
|  2.0|   45|
+-----+-----+

## Using SQL with SparkSQL

We can use SQL with Spark as well, which is very helpful for extracting information from the data we've found.


First, we must register the temporary table with PySpark

In [10]:
df.createOrReplaceTempView("review")

Now we can run any SQL query, and get a SparkSQL DataFrame back!

** What is the average price of products with a score of 4 or greater? **

In [11]:
query = "SELECT AVG(price) FROM review WHERE score >= 4"
sqlContext.sql(query).show()

+-----------------+
|       avg(price)|
+-----------------+
|6.041538461538451|
+-----------------+

** What is the overall average helpfulness score? **

In [12]:
query = "SELECT AVG(helpfulness_score) FROM review"
sqlContext.sql(query).show()

+----------------------+
|avg(helpfulness_score)|
+----------------------+
|                 4.973|
+----------------------+

** What is the average score of all products cheaper than $20? **

In [13]:
query = "SELECT AVG(score) FROM review WHERE price < 20"
sqlContext.sql(query).show()

+------------------+
|        avg(score)|
+------------------+
|4.2735527809307605|
+------------------+

** How many titles contain the phrase "Amazon"? **

In [14]:
query = "SELECT COUNT(*) FROM review WHERE title LIKE '%Amazon%'"
sqlContext.sql(query).show()

+--------+
|count(1)|
+--------+
|      16|
+--------+

### <span style="background:yellow">Your Turn</span> ###
Use SparkSQL to answer the following questions

**Q1: How many `text`s contain the phrases "nice" or "good"?**

In [15]:
query = "SELECT COUNT(*) FROM review WHERE (text LIKE '%good%' OR text LIKE '%nice%')"
sqlContext.sql(query).show()

+--------+
|count(1)|
+--------+
|     218|
+--------+

**Q2: What is the average price of products that have a score less than 3 and a helpfulness score less than 5?**

In [16]:
query = "SELECT AVG(price) FROM review WHERE ((score < 3) AND (helpfulness_score <5))"
sqlContext.sql(query).show()

+----------------+
|      avg(price)|
+----------------+
|7.79823529411765|
+----------------+

**Q3: How many products have product IDs beginning with the letter `B`?**

In [17]:
query = "SELECT product_id FROM review WHERE (product_id LIKE 'B%') LIMIT 5"
sqlContext.sql(query).show()

+----------+
|product_id|
+----------+
|B000179R3I|
|B000GKXY34|
|B000GKXY34|
|B00002066I|
|B00002066I|
+----------+

In [18]:
query = "SELECT COUNT(*) FROM review WHERE (product_id LIKE 'B%')"
sqlContext.sql(query).show()

+--------+
|count(1)|
+--------+
|     742|
+--------+

# Save your notebook, then `File > Close and Halt`

---