# MongoDB Student Practice

The aim of this practice is to offer more opportunities to work with the aggregate pipeline and finding and searching the collections we have access to. We will use the MovieLens data we used for the labs. You are expected to create cells to do data exploration as needed.

In [4]:
from bson.son import SON # for ordering by more than one column
from pprint import pprint
from pymongo import MongoClient
import pymongo

# Initialize a Mongo Client
#################################################
# Update UPDATE-ME in the connection code
#################################################
# Client 1 - mongodb-1.dsa.missouri.edu
# Client 2 - mongodb-2.dsa.missouri.edu
# Client 3 - mongodb-3.dsa.missouri.edu
# Client 4 - mongodb-4.dsa.missouri.edu
#################################################
#
client = MongoClient('mongodb-2.dsa.missouri.edu',
                     username='ml_small_reader',
                     password='mlsmall.read',
                     authSource='ml_small')
# retrieve the ml_small database from the connection
db = client.ml_small

In [4]:
db.collection_names()

['item', 'user', 'genre', 'data']

In [5]:
db.item.find_one()

{'Action': 0,
 'Adventure': 0,
 'Animation': 0,
 "Children's": 1,
 'Comedy': 1,
 'Crime': 0,
 'Documentary': 0,
 'Drama': 1,
 'Fantasy': 0,
 'Film-Noir': 0,
 'Horror': 0,
 'IMDb_URL': 'http://us.imdb.com/M/title-exact?Babe%20(1995)',
 'Musical': 0,
 'Mystery': 0,
 'Romance': 0,
 'Sci-Fi': 0,
 'Thriller': 0,
 'War': 0,
 'Western': 0,
 '_id': ObjectId('5b231f5ad698289b415e67f5'),
 'movie_id': 8,
 'movie_title': 'Babe (1995)',
 'release_date': datetime.datetime(1995, 1, 1, 6, 0),
 'unknown': 0,
 'video_release_date': ''}

In [6]:
db.user.find_one()

{'_id': ObjectId('5b18e2b3d698289b41f3cf1a'),
 'age': 33,
 'gender': 'F',
 'occupation': 'other',
 'user_id': 5,
 'zip_code': 15213}

In [7]:
db.genre.find_one()

{'_id': ObjectId('5b18e2abd698289b41f3ceff'),
 'genre': "Children's",
 'genre_id': 4}

In [8]:
db.data.find_one()

{'_id': ObjectId('5b18e05dd698289b41f236d2'),
 'item_id': 346,
 'rating': 1,
 'timestamp': 886397596,
 'user_id': 166}

### Task 1

#### Find the 10 most common letters to begin a movie title, sorted by number of occurences and letter.

You'll want to use the `$substrCP` operation to extract the first letter

In [9]:
# Add your code below
# -------------------------
from bson.son import SON

pipeline = [
    
    {"$group" : { "_id" :  {'movie_title': { "$substrCP": [ "$movie_title", 0, 1 ] }} , "count" : { "$sum" : 1 }}},
    {"$sort": SON([("movie_title",1),("count", -1)])},
    {"$limit": 10}
]

for doc in db.item.aggregate(pipeline):
    print(doc)

{'_id': {'movie_title': 'S'}, 'count': 181}
{'_id': {'movie_title': 'B'}, 'count': 148}
{'_id': {'movie_title': 'M'}, 'count': 131}
{'_id': {'movie_title': 'C'}, 'count': 118}
{'_id': {'movie_title': 'T'}, 'count': 108}
{'_id': {'movie_title': 'A'}, 'count': 94}
{'_id': {'movie_title': 'F'}, 'count': 94}
{'_id': {'movie_title': 'P'}, 'count': 80}
{'_id': {'movie_title': 'D'}, 'count': 80}
{'_id': {'movie_title': 'L'}, 'count': 79}

### Task 2

#### Find out the distribution of occupations of those who provided reviews. Sort by count

In [29]:
# Add your code below
# -------------------------
documents = db.user.aggregate([{
    "$group": { "_id": "$occupation", "count": { "$sum": 1}}
},{
    "$sort": {"count": -1}
}]);

for document in documents:
    pprint(document)

{'_id': 'student', 'count': 196}
{'_id': 'other', 'count': 105}
{'_id': 'educator', 'count': 95}
{'_id': 'administrator', 'count': 79}
{'_id': 'engineer', 'count': 67}
{'_id': 'programmer', 'count': 66}
{'_id': 'librarian', 'count': 51}
{'_id': 'writer', 'count': 45}
{'_id': 'executive', 'count': 32}
{'_id': 'scientist', 'count': 31}
{'_id': 'artist', 'count': 28}
{'_id': 'technician', 'count': 27}
{'_id': 'marketing', 'count': 26}
{'_id': 'entertainment', 'count': 18}
{'_id': 'healthcare', 'count': 16}
{'_id': 'retired', 'count': 14}
{'_id': 'salesman', 'count': 12}
{'_id': 'lawyer', 'count': 12}
{'_id': 'none', 'count': 9}
{'_id': 'doctor', 'count': 7}
{'_id': 'homemaker', 'count': 7}

### Task 3

#### Find the Average and Standard Deviation of the age of the reviewers, grouped by gender.

In [40]:
# Add your code below
# -------------------------
documents = db.user.aggregate([{
    "$group": { "_id": "$gender", "Average": { "$avg": "$age"}, "StdDev": { "$stdDevPop": "$age"}}
}]);

for document in documents:
    pprint(document)

{'Average': 34.149253731343286, 'StdDev': 12.347643114694364, '_id': 'M'}
{'Average': 33.81318681318681, 'StdDev': 11.777465371497483, '_id': 'F'}

### Task 4

#### Find the Average, Standard Deviation, and count of the age of the reviewers, grouped by occupation and gender.

In [48]:
# Add your code below
# -------------------------
documents = db.user.aggregate([{
    "$group": { "_id": {"gender":"$gender","occupation":"$occupation"}, 
               "Average": { "$avg": "$age"}, 
               "StdDev": { "$stdDevPop": "$age"},
               "count": {"$sum":1}}
},{
    "$sort":{"_id.occupation":1}
}]);

for document in documents:
    pprint(document)

{'Average': 37.16279069767442,
 'StdDev': 11.288871310623597,
 '_id': {'gender': 'M', 'occupation': 'administrator'},
 'count': 43}
{'Average': 40.638888888888886,
 'StdDev': 10.454007147123,
 '_id': {'gender': 'F', 'occupation': 'administrator'},
 'count': 36}
{'Average': 30.307692307692307,
 'StdDev': 9.168378896927916,
 '_id': {'gender': 'F', 'occupation': 'artist'},
 'count': 13}
{'Average': 32.333333333333336,
 'StdDev': 7.77746031098127,
 '_id': {'gender': 'M', 'occupation': 'artist'},
 'count': 15}
{'Average': 43.57142857142857,
 'StdDev': 11.574073771730912,
 '_id': {'gender': 'M', 'occupation': 'doctor'},
 'count': 7}
{'Average': 43.10144927536232,
 'StdDev': 10.67727497061641,
 '_id': {'gender': 'M', 'occupation': 'educator'},
 'count': 69}
{'Average': 39.11538461538461,
 'StdDev': 8.82882918920006,
 '_id': {'gender': 'F', 'occupation': 'educator'},
 'count': 26}
{'Average': 29.5,
 'StdDev': 6.5,
 '_id': {'gender': 'F', 'occupation': 'engineer'},
 'count': 2}
{'Average': 36.6,
 'StdDev': 11.160093740990362,
 '_id': {'gender': 'M', 'occupation': 'engineer'},
 'count': 65}
{'Average': 31.0,
 'StdDev': 7.0,
 '_id': {'gender': 'F', 'occupation': 'entertainment'},
 'count': 2}
{'Average': 29.0,
 'StdDev': 10.043654713300334,
 '_id': {'gender': 'M', 'occupation': 'entertainment'},
 'count': 16}
{'Average': 38.172413793103445,
 'StdDev': 10.741697565440761,
 '_id': {'gender': 'M', 'occupation': 'executive'},
 'count': 29}
{'Average': 44.0,
 'StdDev': 4.08248290463863,
 '_id': {'gender': 'F', 'occupation': 'executive'},
 'count': 3}
{'Average': 39.81818181818182,
 'StdDev': 10.364433781124072,
 '_id': {'gender': 'F', 'occupation': 'healthcare'},
 'count': 11}
{'Average': 45.4,
 'StdDev': 11.235657524150511,
 '_id': {'gender': 'M', 'occupation': 'healthcare'},
 'count': 5}
{'Average': 23.0,
 'StdDev': 0.0,
 '_id': {'gender': 'M', 'occupation': 'homemaker'},
 'count': 1}
{'Average': 34.166666666666664,
 'StdDev': 9.872802146413258,
 '_id': {'gender': 'F', 'occupation': 'homemaker'},
 'count': 6}
{'Average': 36.2,
 'StdDev': 10.037928073063682,
 '_id': {'gender': 'M', 'occupation': 'lawyer'},
 'count': 10}
{'Average': 39.5,
 'StdDev': 11.5,
 '_id': {'gender': 'F', 'occupation': 'lawyer'},
 'count': 2}
{'Average': 40.0,
 'StdDev': 10.58951986798659,
 '_id': {'gender': 'F', 'occupation': 'librarian'},
 'count': 29}
{'Average': 40.0,
 'StdDev': 11.329767710047562,
 '_id': {'gender': 'M', 'occupation': 'librarian'},
 'count': 22}
{'Average': 37.875,
 'StdDev': 10.319126658782709,
 '_id': {'gender': 'M', 'occupation': 'marketing'},
 'count': 16}
{'Average': 37.2,
 'StdDev': 7.332121111929343,
 '_id': {'gender': 'F', 'occupation': 'marketing'},
 'count': 10}
{'Average': 36.5,
 'StdDev': 11.146748404803976,
 '_id': {'gender': 'F', 'occupation': 'none'},
 'count': 4}
{'Average': 18.6,
 'StdDev': 7.812809993849844,
 '_id': {'gender': 'M', 'occupation': 'none'},
 'count': 5}
{'Average': 34.028985507246375,
 'StdDev': 10.914650458121796,
 '_id': {'gender': 'M', 'occupation': 'other'},
 'count': 69}
{'Average': 35.47222222222222,
 'StdDev': 10.169360602404085,
 '_id': {'gender': 'F', 'occupation': 'other'},
 'count': 36}
{'Average': 33.21666666666667,
 'StdDev': 9.903015814499248,
 '_id': {'gender': 'M', 'occupation': 'programmer'},
 'count': 60}
{'Average': 32.166666666666664,
 'StdDev': 4.6696419087073,
 '_id': {'gender': 'F', 'occupation': 'programmer'},
 'count': 6}
{'Average': 62.53846153846154,
 'StdDev': 5.4010737481667555,
 '_id': {'gender': 'M', 'occupation': 'retired'},
 'count': 13}
{'Average': 70.0,
 'StdDev': 0.0,
 '_id': {'gender': 'F', 'occupation': 'retired'},
 'count': 1}
{'Average': 27.0,
 'StdDev': 6.48074069840786,
 '_id': {'gender': 'F', 'occupation': 'salesman'},
 'count': 3}
{'Average': 38.55555555555556,
 'StdDev': 13.961145377328952,
 '_id': {'gender': 'M', 'occupation': 'salesman'},
 'count': 9}
{'Average': 28.333333333333332,
 'StdDev': 2.0548046676563256,
 '_id': {'gender': 'F', 'occupation': 'scientist'},
 'count': 3}
{'Average': 36.32142857142857,
 'StdDev': 7.206413668336259,
 '_id': {'gender': 'M', 'occupation': 'scientist'},
 'count': 28}
{'Average': 22.669117647058822,
 'StdDev': 5.290189514923469,
 '_id': {'gender': 'M', 'occupation': 'student'},
 'count': 136}
{'Average': 20.75,
 'StdDev': 4.975355933666119,
 '_id': {'gender': 'F', 'occupation': 'student'},
 'count': 60}
{'Average': 38.0,
 'StdDev': 0.0,
 '_id': {'gender': 'F', 'occupation': 'technician'},
 'count': 1}
{'Average': 32.96153846153846,
 'StdDev': 9.819449965916425,
 '_id': {'gender': 'M', 'occupation': 'technician'},
 'count': 26}
{'Average': 35.34615384615385,
 'StdDev': 11.983778483665414,
 '_id': {'gender': 'M', 'occupation': 'writer'},
 'count': 26}
{'Average': 37.63157894736842,
 'StdDev': 10.131818178993758,
 '_id': {'gender': 'F', 'occupation': 'writer'},
 'count': 19}

In [3]:
# Be sure to run this cell when you are finished. Thank you.
client.close()

# Save your notebook, then `File > Close and Halt`

---