# Converting an ERD to DDL

This practice will take the ERD diagram below and create the tables within our database.
![erd](../images/ERD.jpg)

## Order of creation

One of the important things to consider when constructing SQL Data Definition Language script files is the order of creation.

Before a foreign key can be designated, the table and key that it will refer to must exist within the database.

Based on the ERD above, we see that Course, Student, and Instructor do not have a foreign key and therefore can be definted first.

```SQL
CREATE TABLE Student (
    StudentID INT NOT NULL,
    LastName VARHCAR(50) NOT NULL,
    FirstName VARCHAR(50) NOT NULL,
    PRIMARY KEY (StudentID)
);

CREATE TABLE Instructor (
    InstructorID INT NOT NULL,
    LastName VARHCAR(50) NOT NULL,
    FirstName VARCHAR(50) NOT NULL,
    PRIMARY KEY (InstructorID)
);

CREATE TABLE Course (
    Number CHAR(8) NOT NULL,
    Title VARHCAR(100) NOT NULL,
    Synopsis TEXT NOT NULL,
    PRIMARY KEY (Number)
);


```

Since the Enrollment table stores a ClassID, it will have to be build after Class.

NOTE: These tables require foreign key references for referential integrity.

```SQL
CREATE TABLE Class (
    ClassID INT NOT NULL,
    Number CHAR(8) NOT NULL,
    InstructorID INT NOT NULL,
    DateStarted DATE,
    DateEnded DATE,
    PRIMARY KEY (ClassID),
    FOREIGN KEY (InstructorID)
      REFERENCES Instructor(InstructorID)
);

CREATE TABLE Enrollment (
    ClassID INT NOT NULL,
    StudentID INT NOT NULL,
    PRIMARY KEY (ClassID,StudentID),
    FOREIGN KEY (ClassID)
      REFERENCES Class(ClassID),
    FOREIGN KEY (StudentID)
      REFERENCES Student(StudentID)

);
```

In [1]:
## Load SQL Extension and open the database file
%load_ext sql
%sql sqlite:///../databases/courses.db

The history saving thread hit an unexpected error (OperationalError('disk I/O error',)).History will not be written to the database.

'Connected: None@../databases/courses.db'

In [2]:
%%sql
CREATE TABLE Student (
    StudentID INT NOT NULL,
    LastName VARHCAR(50) NOT NULL,
    FirstName VARCHAR(50) NOT NULL,
    PRIMARY KEY (StudentID)
);

CREATE TABLE Instructor (
    InstructorID INT NOT NULL,
    LastName VARHCAR(50) NOT NULL,
    FirstName VARCHAR(50) NOT NULL,
    PRIMARY KEY (InstructorID)
);

CREATE TABLE Course (
    Number CHAR(8) NOT NULL,
    Title VARHCAR(100) NOT NULL,
    Synopsis TEXT NOT NULL,
    PRIMARY KEY (Number)
);

Done.
Done.
Done.

[]

In [3]:
%%sql
CREATE TABLE Class (
    ClassID INT NOT NULL,
    Number CHAR(8) NOT NULL,
    InstructorID INT NOT NULL,
    DateStarted DATE,
    DateEnded DATE,
    PRIMARY KEY (ClassID),
    FOREIGN KEY (InstructorID)
      REFERENCES Instructor(InstructorID)
);

CREATE TABLE Enrollment (
    ClassID INT NOT NULL,
    StudentID INT NOT NULL,
    PRIMARY KEY (ClassID,StudentID),
    FOREIGN KEY (ClassID)
      REFERENCES Class(ClassID),
    FOREIGN KEY (StudentID)
      REFERENCES Student(StudentID)

);

Done.
Done.

[]

## <span style="background:yellow">Your Turn</span>


M3:P1:Q1 - Write a create table statement for a 'CourseGrade' table that would hold a student number, class number, and the grade they received

In [6]:
%%sql
CREATE TABLE CourseGrade (
    StudentID INT NOT NULL,
    Number CHAR(8) NOT NULL,
    Grade CHAR(8) NOT NULL,
    
    PRIMARY KEY (StudentID),
    FOREIGN KEY (StudentID)
      REFERENCES Student(StudentID)
);

Done.

[]

M3:P1:Q2 - Write a create table statement for a 'SudentInfo' table that would hold the student id and other relevant information like address, phone number, and date of birth

In [5]:
%%sql
CREATE TABLE StudentInfo (
    StudentID INT NOT NULL,
    Address CHAR(8) NOT NULL,
    PhoneNumber CHAR(8) NOT NULL,
    BirthDate DATE,
    
    PRIMARY KEY (StudentID),
    FOREIGN KEY (StudentID)
      REFERENCES Student(StudentID)
);

Done.

[]

# SAVE YOUR NOTEBOOK